body {
    text-indent: 1%;
    background-color: crimson;
    font-family: Menlo;
    color: honeydew;
    font-size: x-large;
}

a {
    color: azure;
}

input {
    color: black;
    background-color: azure;
}

.button{
    font-family: Menlo;
    background-color: azure;
    color: crimson;
    font-size:10pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*border: none;*/
}